<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Doctor Dashboard</title>
  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="../../assets/favicon/site.webmanifest">
  <link rel="stylesheet" href="css/drdash.css">
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

  <div class="main-wrapper">

    <header class="header header-fixed header-one header-space">
      <div class="container">
        <nav class="navbar navbar-expand-lg header-nav">
          <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
              <span class="bar-icon">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </a>
            
          </div>
          <div class="main-menu-wrapper">
            <div class="menu-header">
              <a href="/index" class="navbar-brand logo">
                <img src="../static/assets/img/logo.png" class="img-fluid logo-image" alt="Logo">
              </a>
              <a id="menu_close" class="menu-close" href="javascript:void(0);">
                <svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fas"
                  data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"
                  data-fa-i2svg="">
                  <path fill="currentColor"
                    d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
                  </path>
                </svg><!-- <i class="fas fa-times"></i> Font Awesome fontawesome.com -->
              </a>
            </div>
            <ul class="main-nav">
              <li>
                <a href="/index">Home </a>
              </li>

              <li>
                <a href="/patient-dashboard">Patients </a>
              </li>

              <li>
                <a href="/doctor-dashboard">Doctors </a>
              </li>
              <li>
                <a href="/admin-dashboard">Admin </a>
              </li>

              <li>
                <a href="/contact-us">Contact Us </a>
              </li>

            </ul>
          </div>
        </nav>
      </div>
    </header>

  <div class="drdash"><h1>Doctor Dashboard</h1></div>
    <section class="home-section">  
        <div class="sales-boxes">
            <div class="sales-details box">
              <ul class="details">
      <div class="column">
        <li class="topic" style="font-weight: 900;">Date</li>
        <a href="#">15-10-23</a>
        <a href="#">28-09-23</a>
        <a href="#">20-08-23</a>
        <a href="#">05-07-23</a>
        <a href="#">11-06-23</a>
        <a href="#">03-05-23</a>
        <a href="#">19-04-23</a>
        <a href="#">25-03-23</a>
        <a href="#">09-02-23</a>
      </div>
      <div class="column">
        <li class="topic" style="font-weight: 900;">Patients</li>
        <a href="#">Alex Doe</a>
        <a href="#">David Mart</a>
        <a href="#">Roe Parter</a>
        <a href="#">Diana Penty</a>
        <a href="#">Diana Penty</a>
        <a href="#">Martin Paw</a>
        <a href="#">Doe Alex</a>
        <a href="#">Aiana Lexa</a>
        <a href="#">Rexel Mags</a>
      </div>
      <div class="column">
        <li class="topic" style="font-weight: 900;">Old Prescription</li>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
      </div>
      <div class="column">
        <li class="topic" style="font-weight: 900;">Lab Reports</li>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
      </div>
      <div class="column">
        <li class="topic" style="font-weight: 900;">New Prescription</li>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
        <a href="#"><u>View</u></a>
      </div>
    </ul>
            </div>
            <div class="button-container">
              <a href="#" class="button">See All</a>
            </div>            
        </div>
    </section>
    
    <!-- Footer Section -->
    <footer>
      <div class="footer-content">
        <div class="footer-info">
          <div class="footer-logo">
            <img src="../static/assets/img/logo.png" alt="logo">
          </div>
          <div class="footer-about-content">
            <p>Experience hassle-free healthcare access and connect with trusted healthcare professionals effortlessly.</p>
          </div>
        </div>
        <div class="footer-links">
          <div class="footer-section">
            <h2>For Patients</h2>
            <ul>
              <li><a href="#">Appointment & Chat</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Register</a></li>
            </ul>
          </div>
          <div class="footer-section">
            <h2>For Doctors</h2>
            <ul>
              <li><a href="#">Appointments</a></li>
              <li><a href="#">Chat</a></li>
              <li><a href="#">Login</a></li>
            </ul>
          </div>
          <div class="footer-section">
            <h2>Contact Us</h2>
            <ul>
              <li><a href="#">Pashan, Pune</a></li>
              <li><a href="#">+91 7595953141</a></li>
              <li><a href="mailto:Bytee.coders@gmail.com">Bytee.coders@gmail.com</a></li>
            </ul>
          </div>
          <div class="footer-section">
            <h2>Join Our Newsletter</h2>
            <div class="newsletter-container">
              <input type="email" placeholder="Enter Email">
              <button>Subscribe</button>
            </div>
          </div>
        </div>
       
        
        
      </footer>
    


  <script src="assets/js/script.js"></script>
  <script src="https://kit.fontawesome.com/1ed7106697.js" crossorigin="anonymous"></script>
  <style media="all" id="fa-v4-font-face"></style>
  <style media="all" id="fa-v5-font-face"></style>
  <style media="all" id="fa-v4-shims"></style>
</body>

</html>
